body {
  background-color: #61E294
}

.container {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}


.title{
  font-family: helvetica, sans-serif;
  margin-top: 10%;
}

input {
  font-family: helvetica, sans-serif;
  padding: 8px;
  font-size: 26px;
  margin: 30px 0;
  background-color: rgba(0,0,0,0.1);
  border: 0px;
}

.location-input {
  font-size: 18px;
}

.submit-btn {

}
