<head>
  <link rel='stylesheet' href='/stylesheet/style.css' />
</head>
<body>
<div class="container">

  <h1 class="title">DLOTW</h1>

  <h4 class="instructions">Enter a location.</h4>

<form class="" action="/weather" accept-charset="UTF-8" method="post">
  <div>
     <input class="location-input" type="text" name="name" id="location_name" size='60'/>
  </div>

  <div>
    <input class="submit-btn" type="submit" name="#" value="Check The Weather" id="button" />
  </div>
</form>

  <div>
    <p class="result">{{this.result}}</p>
  </div>
</div>
</body>
