<head>
  <link rel='stylesheet' href='/stylesheet/style.css' />
</head>
<body>
<div class="bg-image"></div>
<div class="container">

  <div class="title-box"><h1 class="title">DLOTW</h1></div>

  <h4 class="instructions">Enter a location.</h4>

<form class="" action="/weather" accept-charset="UTF-8" method="post">
  <div>
     <input class="location-input" type="text" name="name" id="city_name" size='40'/>
  </div>
  <div>
    <input class="submit-btn" type="submit" name="#" value="Check The Weather" id="button" />
  </div>
</form>


  <h3 class="result-title">{{this.result}}</h3>
  <p class="result-text">{{this.result}}</p>


<!--   <div class="result-div">
    <h3 class="result-title">Today's forecast:</h3>
    <p class="result-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
  </div> -->

</div>
</body>
