<div class="container">

  <h1 class="title">DLOTW</h1>

  <h4 class="instructions">Enter a location.</h4>

  <div>
     <input class="location-input" type="text" name="name" id="location_name" size='60'/>
  </div>

  <div>
    <input class="submit-btn" type="submit" name="#" value="Check da weavor" id="button" />
  </div>

  <div>
    <p class="result">{{this.result}}</p>
  </div>
</div>
